@font-face {
  font-family:Anurati;
  src: url(font/Anurati-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

/* navigation bar of web site and other options with css editing  */

.logo {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
  url(background.webp);
  background-size: cover;
  background-position: center;
}

.navbar {
  border: px solid white;
  display: flex;
  width: 95%;
  align-items: center;
  margin: auto;
  padding: 10px auto;
  justify-content: space-between;
}

ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  position: relative;
}

a {
  text-decoration: none;
}



 ul li::after {
  content: "    ";
  height: 3px;
  width: 0;
  background: rgb(235, 208, 2);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
  
}

.navbar ul li:hover::after {
  color: aqua;
  width: 100%;
}

/* restaurant name main heading of website with css editing */

.head {
  border: px solid white;
  width: 70%;
  height: 220px;
  text-align: center;
  margin: auto;
  padding: 10px auto;
  border-radius: 2cm;
  
}

 h1{
  border: px solid white;
  width:70% ;
  margin:50px auto;
  background-image: linear-gradient((rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)));
  text-align: center;
  font-family:Anurati;
  color: rgba(248, 225, 73, 0.66);
  font-size: 4cm;
  position: relative;
}

 h1::after {
  content: "";
  height: 3px;
  width: 0;
  background: rgba(235, 208, 2);
  margin: auto;
  left: 10px;
  bottom: 0px;
  transition: 0.5s;
  
}
.head:hover {
  
  transition: 0.5 s;
  width: 70%;
  height: 220px;
  text-align: center;
  margin: auto;
  padding: 10px auto;
  
}
 h1:hover {
  width: 80%;
  border-radius: 2cm;
  background-color: rgba(0, 0, 0, 0.51);
  color: rgb(255, 225, 0);
  transition: 1s;
  
} 

.head :hover::after {
  color: rgb(255, 228, 27);
  width: 100%;
}

.head1 {
  border: 1px solid white;
  margin: auto;
  padding: 10px auto;
  width: 80%;
  height: 210px;
}
.p1 {
  border: 1px solid white;
  width: 100%;
  height: 200px;
  font-size: large;
}
.p1 ::after:hover {
  content: Hello and welcome in SPICE HEAVEN restaurant enjoy your meal here best place in ahemdabd for spice lust ;
}
